body {
    padding: 5px;
    margin: 0px;
/*    background-color: #fff;*/
    background: #fff url(./back.gif) 0 0 repeat;
    font-family: arial,sans-serif,verdana,helvetica;
    font-size: 10pt;
}

p,table,td,div,li,ul,ol,input,select {
    font-family: arial,sans-serif,verdana,helvetica;
    font-size: 10pt;
}

a {
    color: #0d0d68;
    text-decoration: none;
}

a:visited {
    color: #767cd5;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

h1 {
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 2px solid #049;
    color: #049;
    font-size: 15pt;
    text-align: left;
    letter-spacing: -1pt;
}

h2 {
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 1px solid #bbb;
    color: #000;
    font-size: 10pt;
    letter-spacing: 0.2em;
}

h3 {
    font-style: italic;
    color: #000;
    font-size: 10pt;
}

.photogal {
    font-size: small;
}

.photogal img {
    vertical-align: middle;
    margin: 5px;
    border-width: 4px;
    border-color: #676;
}

.photogal-text {
    text-align: center;
    margin-left: 7em;
    margin-right: 7em;
}

